.slides{
    padding: 0px;
    width: 609px;
    height: 420px;
    display: block;
    margin: 0 auto;
    position: relative;

}
.slides *{
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
     -webkit-user-select: none;
     -webkit-touch-callout: none; 

}
.slides input{
    display: none;
}
.slides-container{
    display: block;
}
.slide{
    top:0;
    opacity: 0;
    width: 609px;
    height: 420px;
    display: block;
    position: absolute;
    transform: scale(0);
    transition: all .7s ease-in-out;

}
.slide img{
    width: 100%;
    height: 100%;
}
.nav label{
    width: 200px;
    height: 100px;
    display: none;
    position: absolute;
    opacity: 0;
    z-index: 9;
    cursor: pointer;
    transition: opacity 0.2;
    color: #fff;
    font-size: 156px;
    text-align: center;
    line-height: 380px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgba(255, 255,255, .3);
    text-shadow: 0px 0px 15px rgba(119, 119, 199,);


}
.slide:hover +.nav label{ opacity: 0.5;}
.nav label:hover{opacity: 1;}
.nav.next{right:0;}
input:checked+  .slides-container .slide{
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in-out;
}
input:checked+ .slides-container .nav label{display: block;}
.nav-dots{
    width: 100%;
    bottom:  9px;
    height: 11px;
    display: block;
    position: absolute;
    text-align: center;

}
.nav-dots .nav-dot{
    top: -5px;
    width: 11px;
    height: 11px;
    margin: 0 4px;
    position: relative;
    border-radius: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0);


}
.nav-dots .nav-dot :hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);

}

    input#resim1:checked ~ .nav-dots label#img-dot-1,
    input#resim2:checked ~ .nav-dots label#img-dot-2,
    input#resim3:checked ~ .nav-dots label#img-dot-3,
    input#resim4:checked ~ .nav-dots label#img-dot-4,
    input#resim5:checked ~ .nav-dots label#img-dot-5,
    input#resim6:checked ~ .nav-dots label#img-dot-6{
        background: rgba(0, 0, 0, 0.8);
    }
