
      section {
        text-align: center;
      }
      #ustmenu {
        margin-left: auto;
        margin-right: 0%;   
      
        
        
      }
      
      thead{
        color: aqua;
      }
   #Anabaslık{
  
    text-decoration: none;
    font-size: 38px;
    color: coral;


    
   }
